* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer";
  gap: 5px;
}

.container div {
  padding: 10px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-areas: "logo menu";
  align-items: center;
  grid-area: header;
}

.logo {
    grid-area: logo;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  grid-auto-flow: column; 
  justify-content: end;
  gap: 20px;
  list-style: none;
}

.menu {
  grid-area: menu;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo, .side-content {
  flex: 0 0 15%;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-auto-flow: column; 
  gap: 10px;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}